h1 {
    color: blue;
    text-align: center;
  }
form {
  color: blue;
  text-align: center;
}
   p {color: blue;
    text-align: center;

   }
h2 {
  color: blue;
  text-align: center;
}
div {
  color: blue;
  text-align: center;
}
div {
  text-align: center;
}